*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
    color:#333;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 9%;
    background:#0b3d91;
    color:white;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.logo span{
    color:#ffcc00;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:670;
}

nav a:hover{
    color:#ffcc00;
}

#contactBtn{
    padding:10px 18px;
    border:none;
    background:#ffcc00;
    color:#000;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

#contactBtn:hover{
    background:#ffd633;
}

/* Header */
header{
    text-align:center;
    padding:40px 20px;
    background:white;
}

header h1{
    font-size:2rem;
    color:#0b3d91;
    margin-bottom:15px;
}

header p{
    font-size:1.1rem;
    color:#555;
    margin-bottom:20px;
}

.product-img1st{
    width:100%;
    max-width:1000px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

/* Product Section */
.product-container{
    width:90%;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:35px;
}

/* Card Design */
.card{
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

.product-img{
    width:70%;
    height:640px;
    display:flex;
    text-align:center;
    justify-content:center;
    object-fit:cover;
    background:#fff;
}

.info{
    padding:15px;
    text-align:center;
}

.price{
    color:#0b3d91;
    font-size:30px;
    font-weight:bold;
    margin-bottom:8px;
}

.size{
    font-size:20px;
    margin-bottom:8px;
}

.unit{
    color:#666;
    font-size:15px;
}

/* WhatsApp Button Effect */
.card a{
    text-decoration:none;
}

.card::after{
    content:"Order on WhatsApp";
    display:block;
    text-align:center;
    background:#25D366;
    color:white;
    padding:10px;
    font-weight:bold;
}

/* Footer */
footer{
    background:#0b3d91;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
     h2:contains("Our Services"),
        h2:contains("ADDRESS")a[href*='location']{display:none !important;}

}

/* Mobile */
@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    header h1{
        font-size:1.7rem;
    }

    .product-container{
        grid-template-columns:2fr;
    }

    .product-img{
        height:250px;
    }
}













